.yk-bi-icon{
    font-size: 2rem;
    color: gray;
}
.yk-bi-icon-big{
    font-size: 5rem;
    color: gray;
}
.yk-thumbnail-img{
    width: 200;
}
.yk-center {
    text-align: center;
}
.yk-left {
    text-align: left;
}
.yk-text-title{
    font-size: 2rem;
    color: black;
}
.yk-text-normal{
    font-size: 1rem;
    color: black;
}
.yk-text-description{
    font-size: 0.5rem;
    color: gray;
}
.yk-text-icon{
    font-size: 1.5rem;
    color: gray;
    display: inline-block;
}
.yk-box-focus{
    width: 80%;
    height: 250px;
    margin:5px; 
    padding:20px;
    background-color: #f5f5f5;
    border: 2px solid silver;
}
input[type="file"] {
    display: none;
}