.yk-bi-icon{
    font-size: 2rem;
    color: gray;
}
.yk-bi-icon-big{
    font-size: 5rem;
    color: gray;
}
.yk-thumbnail-img{
    width: 200;
}
.yk-center {
    text-align: center;
}
.yk-block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em
}
.yk-left {
    text-align: left;
}
.yk-right {
    text-align: right;
}
.yk-bottom {
    vertical-align: baseline;
}
.yk-text-title{
    font-size: 2rem;
    color: black;
}
.yk-text-normal{
    font-size: 1rem;
    color: black;
}
.yk-text-description{
    font-size: 0.5rem;
    color: gray;
}
.yk-text-icon{
    font-size: 1.5rem;
    color: gray;
    display: inline-block;
}
.yk-box-focus{
    width: 80%;
    height: 250px;
    margin:5px; 
    padding:20px;
    /* background-color: #f5f5f5; */
    /* border: 2px solid silver; */
}
.yk-box-separate{
    width: 100%;
    height: 100px;
    margin:5px; 
    padding:20px;
    border: 2px solid silver;
}
.yk-box-separate-small{
    width: 100%;
    height: 50px;
    margin:5px; 
    padding:20px;
    border: 2px solid silver;
}
.yk-box-caption{
    width: 100%;
    border: none;
}
.yk-box-space{
    width: 100%;
    height: 30px;
    border: none;
}
.yk-box-thumbnail{
    width: 200px;
    height: 120px;
    border: 2px solid silver;
}
.yk-img-thumbnail{
    width: 200px;
    height: 120px;
}
.yk-input-text{ 
    width: 100%;
    height: 50px;
    border: 2px solid silver;
}
.yk-input-text-big{ 
    width: 100%;
    height: 100px;
    border: 2px solid silver;
}
input[type="file"] {
    display: none;
}
.yk-iframe{
    width: 100%;
    height: 500px;
}
.yk-width-max{
    width: 100%;
}
.yk-height-up{
    height: 500px;
}
.yk-debug{
    background-color: khaki;
}
a{
    text-decoration: none;
    color: #000000;
}
.yk-margin{
    margin : 30px ;
}
.yk-etc {
    position: relative;
  }
.yk-contact{
    position: absolute;
    right: 10;
    bottom: 10;
}